<span class="label label-default">Date:</span>
{% if post.metadata.date %} 
        {{ post.metadata.date }}
{% endif %}
<br/>
<span class="label label-default">Tags:</span>
{% if post.metadata.tags %}
	{% for tag in post.metadata.tags.split(',') %}
		<a href="{{ context['settings']['SITEURL'] }}{{ post.metadata.tagfiles[tag.lower().strip()] }}">
		{{ tag -}} 
		</a>,
	{% endfor %}
{% endif %}
<br />
<span class="label label-default">Category:</span>
<a href="{{ context['settings']['SITEURL'] }}{{ post.metadata.catfile }}">
{% for category in post.metadata.category -%}
{{ category -}}/
{%- endfor %}
</a>