<ul class="pagination pagination-sm">
	{% if content.metadata.page > 1 %}
    <li><a href="{{ context['settings']['SITEURL'] }}/index{{ content.metadata.page - 1 }}.html">&laquo;</a></li>
    {% endif %}
	{% for page in range(1, content.metadata.pages + 1) %}
    <li {% if content.metadata.page == page %} class="active"{% endif %}><a href="{{ context['settings']['SITEURL'] }}/index{{ page }}.html">{{ page }}</a></li>
    {% endfor %}
    {% if content.metadata.page < content.metadata.pages %}
    <li><a href="{{ context['settings']['SITEURL'] }}/index{{ content.metadata.page + 1 }}.html">&raquo;</a></li>
    {% endif %}
</ul>
